@model Studio.Areas.Seguridad.Models.ViewElement
@using Studio.Areas.Seguridad.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Assets/Plugins/Jstree/dist/themes/default/style.min.css" />
<link rel="stylesheet" type="text/css" href="~/Assets/bootstrap/css/bootstrap-switch.css" />
<link rel="stylesheet" type="text/css" href="~/Assets/Plugins/Cascade/bootstrap-select.css" />
<link rel="stylesheet" type="text/css" href="~/Assets/Plugins/Nested/css/style.css" />

<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/Assets/bootstrap/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="~/Assets/bootstrap/js/switch.js"></script>
@*<script type="text/javascript" src="~/Assets/Plugins/Cascade/bootstrap-select.js"></script>*@

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Seguridad <small>Usuarios roles y niveles de accesos</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li class="pull-right">
                <div class="dashboard-date-range tooltips" id="dashboard-report-range" style="display: block;" data-original-title="Change dashboard date range" data-placement="top">
                    <i class="fa fa-calendar"></i>
                    <span>@DateTime.Now</span>
                    <i class="fa fa-angle-down"></i>
                </div>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Arbol de Aplicaciones</h3>
              </div>
              <div class="panel-body" id="list5">
                
              </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="glyphicons glyphicons-group"></i><h3 class="panel-title">Registrar Componentes</h3>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("NuevoElemento", "Componentes", 
                    new AjaxOptions{
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        //LoadingElementId = "ajax-loader",
                        UpdateTargetId = "result",
                    },
                    new {@class="form-horizontal form-bordered" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-9">
                                <div class="row">
                                        <div id="divApplicaciones" class="form-inline col-lg-12">
                                            <label class="col-lg-4 control-label">
                                                @Html.LabelFor(m => m.Aplicacion)
                                            </label>
                                            <div class="col-lg-8">
                                                @Html.DropDownListFor(m => m.Aplicacion,(SelectList)ViewBag.Aplicacion,new {@class="bootstrap-select"})
                                            </div>
                                        </div>
                                        <div class="form-inline col-lg-12">
                                        <label class="col-lg-4 control-label">@Html.LabelFor(m => m.Area)</label>
                                        <div class="col-lg-8">
                                            @Html.DropDownListFor(m => m.Area,(SelectList)ViewBag.Area,new {@class="bootstrap-select"})
                                        </div>
                                    </div>
                                        <div class="form-inline col-lg-12">
                                        <label class="col-lg-4 control-label">@Html.LabelFor(m => m.Controller)</label>
                                        <div class="col-lg-8">
                                            @Html.DropDownListFor(m => m.Controller,(SelectList)ViewBag.Controller,new {@class="bootstrap-select"})
                                        </div>
                                    </div>
                                        <div class="form-inline col-lg-12">
                                        <label class="col-lg-4 control-label">@Html.LabelFor(m => m.Vista)</label>
                                        <div class="col-lg-8">
                                            @Html.DropDownListFor(m => m.Vista,(SelectList)ViewBag.Vista,new {@class="bootstrap-select"})
                                        </div>
                                    </div>
                                    <div class="form-inline col-lg-12">
                                        <label class="col-lg-4 control-label">@Html.LabelFor(m => m.Nombre)</label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(m => m.Nombre,new {placeholder="Nombre",@class="bootstrap-select"})
                                        </div>
                                    </div>
                                    <div class="form-inline col-lg-12">
                                        <label class="col-lg-4 control-label">@Html.LabelFor(m => m.Resumen)</label>
                                        <div class="col-lg-8">
                                            @Html.TextAreaFor(m => m.Resumen,new {placeholder="Resumen",rows="4" ,cols="40" ,@class="bootstrap-select"})
                                        </div>
                                    </div>
                                    <div class="form-inline">
                                        <label class="col-lg-4 control-label">Active</label>
                                        <div class="col-lg-8">
                                            <div class="has-switch">
                                                <div class="switch-on" >
                                                    @Html.CheckBoxFor(m => m.Active, new { @class="switch-small" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary pull-right" value="Entrar" />
                                <img id="ajax-loader" src="~/Images/loader.gif" style="display:none"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="result"></div>

<script type="text/javascript" src="~/Assets/Plugins/Cascade/jquery.cascadingdropdown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/Seguridad/Componentes/GetAplicaciones',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: "{}",
            success: function (data) {
                $("#Aplicacion").empty();
                for (count = 0; count < data.length; count++) {
                    $("#Aplicacion").append("<option value =" + data[count].Id + ">" + data[count].Name + "</option>")
                }
            }
        });
    });
  
    $(document).ready(function () {
        $.ajax({
            url: '/Seguridad/Componentes/GetNestedList',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: "{}",
            success: function (data) {
                $("#list5").empty();
                var str = "";
                str += "<ol>";
                for (count0 = 0; count0 < data.length; count0++) {
                    str += "<li>" + data[count0].ul;//Aplicaciones
                    if (data[count0].children.length > 0) {
                        var dataArea = data[count0].children;
                        str += "<ol>";
                        for (count1 = 0; count1 < dataArea.length; count1++) {
                            str += "<li>" + dataArea[count1].ul;//Area
                            if (dataArea[count1].children.length > 0) {
                                var dataController = dataArea[count1].children;
                                str += "<ol>";
                                for (count2 = 0; count2 < dataController.length; count2++) {
                                    str += "<li>" + dataController[count2].ul;//Controller
                                    if (dataController[count2].children.length > 0) {
                                        var dataVista = datadataController[count2].children;
                                        str += "<ol>";
                                        for (count3 = 0; count3 < dataVista.length; count3++) {
                                            str += "<li>" + dataVista[count3].ul;//Controller
                                            if (dataVista[count3].children.length > 0) {
                                                var dataElement = dataVista[count3].children;
                                                for (count4 = 0; count4 < dataElement.length; count4++) {
                                                    str += "<li>" + dataElement[count4].ul + "</li>";//Controller
                                                }
                                            }
                                            str += "</li>";
                                        }
                                        str += "</ol>";
                                    }
                                    str += "</li>";
                                }
                                str += "</ol>";
                            }
                            str += "</li>";
                        }
                        str += "</ol>";
                    }
                    str += "</li>";
                }
                str += "</ol>";
                console.log(str);
                $("#list5").append(str);
            }
        });
    });
    $("#Aplicacion").change(function () {
        $.ajax({
            url: '/Seguridad/Componentes/GetElementos',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { type:'getAreas',id: $("#Aplicacion").val() },
            success: function (data) {
                $("#Area").empty();
                for (count = 0; count < data.length; count++) {
                    $("#Area").append("<option value =" + data[count].Id + ">" + data[count].Name + "</option>")
                }
            }
        });
    });

    $("#Area").change(function () {
        $.ajax({
            url: '/Seguridad/Componentes/GetElementos',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { type: 'getControladores', id: $("#Area").val() },
            success: function (data) {
                $("#Controller").empty();
                for (count = 0; count < data.length; count++) {
                    $("#Controller").append("<option value =" + data[count].Id + ">" + data[count].Name + "</option>")
                }
            }
        });
    });

    $("#Controller").change(function () {
        $.ajax({
            url: '/Seguridad/Componentes/GetElementos',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { type: 'getVistas', id: $("#Controlador").val() },
            success: function (data) {
                $("#Vista").empty();
                for (count = 0; count < data.length; count++) {
                    $("#Vista").append("<option value =" + data[count].Id + ">" + data[count].Name + "</option>")
                }
            }
        });
    });

    //$("#nuevoelemento").submit(function (event) {
    //    console.log($("#lista_Aplicaciones"));
    //    $.ajax({
    //        url: $(this).attr("action"),
    //        type: "POST",
    //        data: {
    //            Idn1: $("#lista_Aplicaciones").val(),
    //            Idn2: $("#lista_Areas").val(),
    //            Idn3: $("#lista_Controladores").val(),
    //            Idn4: $("#lista_Vistas").val(),
    //            Nombre: $("#Nombre").val(),
    //            Resumen: $("#Resumen").val(),
    //            Active: $("#Active").is(':checked')
    //        },
    //        //beforeSend: function () { $("#ajax-loader").show(); },
    //        //complete: function () { $("#ajax-loader").hide(); },
    //        error: function (data) {
    //            var txt = "Error en la entrega del mensaje";
    //            console.log(data);
    //        },
    //        success: function (data) {
    //            console.log(data);
    //        }
    //    });
    //});
</script>
http://bootswatch.com/